<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="events">
      <h2>Events in Action</h2>
      <button v-on:click="addMethods">Add</button>
      <button v-on:click="substractMethods">Substract</button>
      <p>Result: {{ counterMethods }}</p>
      <h4>Event using Methods - Usage of v-bind:value and v-on:input together</h4>
      <input type="text" v-bind:value="name" v-on:input="setName"> <button v-on:click="resetInput">Reset Input</button>
      <p>Your Name: {{ name }}</p>

      <h4>Event using Methods - Usage of v-model to replace v-bind:value and v-on:input, that just called two-ways binding</h4>
      <!-- usage of v-model is communicating two-ways also  -->
      <input type="text" v-model="nameUseModel"> <button v-on:click="resetInput2">Reset Input</button>
      <p>Your Name: {{ nameUseModel }}</p>

      <h4>Event using Methods - Usage of v-model with full name and check the perfomances of VueJs (check the console log in the browser)</h4>
      <input type="text" v-model="fullName"> <button v-on:click="resetInput3">Reset Input</button>
      <p>Your Name: {{ setFullName() }}</p>

      <h4>Event using Methods - Usage of Computed Properties - Check the console in the inspect element, and watch out about "Running Again"
        after you run all the function within UI. </h4>
      <input type="text" v-model="fullNameComputed"> <button v-on:click="resetInput4">Reset Input</button>
      <p>Your Name: {{ setFullNameComputed }}</p>



    </section>
  </body>
</html>
